@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
	--black: #000000;
  --orange: #f57421;
}

html {
	font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: var(--orange);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
	color: var(--black);
}

* {
  box-sizing: border-box;
}

h1 {
	font-size: 4rem;
	margin: 0 0 1.6rem;
}

h2 {
	font-size: 2rem;
	font-weight: normal;
	margin: 0 0 1.6rem;
}

h3 {
	font-size: 1.8rem;
	margin: 0 0 1.4rem;
}

h4 {
	font-size: 1.7rem;
	margin: 0 0 1.4rem;
}

p,
a {
	font-size: 2rem;
}

::selection {
  background: var(--orange);
}

@media screen and (max-width: 567px) {
  h1 {
  	font-size: 2rem;
  }

  h2 {
  	font-size: 1.8rem;
  }

  h3 {
  	font-size: 1.6rem;
  }

  h4 {
  	font-size: 1.5rem;
  }

  p,
  a {
  	font-size: 1.5rem;
  }
}